*{
  font-family: 'Poppins', sans-serif;
}
.encabezado {
  text-align: center;
  margin-bottom: 20px;
}

.cerrar-btn{
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.cerrar-btn:hover {
  color: #b02a37;
}


.input_img{
  border-radius: 4px;
}

hr {
  border: none; /* Elimina el borde por defecto */
  height: 2px;  /* Ajusta el grosor */
  background-color: white; /* Establece el color blanco */
}

label{
  color: #F4A261;
}

.blue{
  color: #264653;
}

.btn_enviar{
  background-color: #F4A261 ;
}

#btn_agregarIngrediente {
  width: auto; /* Ajustar automáticamente al contenido */
  display: inline-block; /* Asegurar que no ocupe todo el ancho */
  color: #F4A261;
}

#insertar_receta {
  border-radius: 5px; /* Mantiene esquinas redondeadas pero no en círculo */
  width: auto; /* Deja que el ancho se ajuste al contenido */
  height: auto; /* Ajusta la altura automáticamente */
  padding: 10px 20px; /* Aumenta el espacio interno del botón */
  text-align: right !important;
  background-color: #F4A261 ;
}

#insertar_receta:active {
  background-color: #fe790c; /* Tono más oscuro */
  transform: scale(0.95); /* Efecto de clic */
}