body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.container-form {
    margin: auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Limita el ancho del formulario */
    width: 100%; /* Asegura que el formulario se ajuste en pantallas pequeñas */
    max-height: 80vh; /* Ajusta la altura máxima según lo necesario */
    overflow-y: auto;
}

.cerrar-btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #dc3545;
}

#blue{
    background-color: #264653;
  }